* {
    font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.gif__fon {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -200;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: hidden;
    &__text {
        width: 33%;
        height: 100vh;
        text-align: left;
        padding-left: 155px;
        padding-top: 250px;
        z-index: 1;
        &_head {
            display: block;
            line-height: 1;
            font-size: 80px;
            text-transform: uppercase;
            font-weight: 900;
            color: #81d632;
            &_1300 {
                display: none;
            }
        }
        &_descr {
            margin-top: 30px;
            line-height: 1.2;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;
            color: #a9b6c7;
            &_1300 {
                display: none;
            }
        }


    }
    &__gif {
        width: 67%;
        height: 100%;
        overflow: hidden;
        video {
            position: absolute;
            top: 0;
            left: 20%;
            width: 100%;
            height: 100%;
            z-index: -100;
        }


    }

}

@media (max-width: 1800px) {
    .main {
        &__text {
            width: 25%;
        }
    }
}

@media (max-width: 1500px) {
    .main {
        &__text {
            width: 20%;
            padding-left: 100px;
        }
    }
}

@media (max-width: 1400px) {
    .main {
        &__text {
            width: 15%;
            padding-top: 300px;
            &_head {
                font-size: 70px;
            }
            &_descr {
                font-size: 20px;
            }

        }
        &__gif {
            video {
                left: 10%;
            }
        }
    }
}


@media (max-width: 1300px) {
    .main {
        flex-direction: column;
        height: 100vh;
        &__text {
            padding: 90px 50px 50px 50px;
            text-align: left;
            width: 100%;
            height: auto;
            &_head {
                display: none;
                &_1300 {
                    display: block;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 900;
                    line-height: 1;
                    color: #81d632;
                }
            }
            &_descr {
                display: none;
                &_1300 {
                    display: block;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1;
                    color: #a9b6c7;
                    padding-top: 10px;
                }
            }
        }
        &__gif {
            video {
                left: 0;
                top: 0;
            }
        }
    }
    
}

@media (max-width: 700px) {
    .main {
        &__gif {
            video {
                min-height: 75%;
                top: 190px;
                width: 100vw;
                height: auto;
                
            }
        }
        &__footer {
            height: 180px;
        }
    }
}


@media (max-width: 400px) {
    .main {
        &__text {
            padding: 80px 30px 35px 30px;
        }
        &__gif {
            video {
                min-height: 58%;
            }
        }
    }
}

@media (max-width: 375px) {
    .main {
        &__gif {
            video {
                top: 255px;
            }
        }
    }
}
