* {
    font-family: 'Roboto', sans-serif;
}
.main {
    width: 100vw;
    display: flex;
    justify-content: left;
    &__text {
        background-color: #314659;
        width: 33%;
        height: 100vh;
        text-align: left;
        padding-left: 155px;
        padding-top: 250px;
        z-index: 1;
        &_head {
            display: block;
            line-height: 1;
            font-size: 80px;
            text-transform: uppercase;
            font-weight: 900;
            color: #81d632;
            &_1300 {
                display: none;
            }
        }
        &_descr {
            margin-top: 30px;
            line-height: 1.2;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;
            color: #a9b6c7;
            &_1300 {
                display: none;
            }
        }


    }
    &__gif {
        width: 67%;
        height: 100%;
        video {
            position: fixed;
            top: 50%;
            left: 70%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            background-size: cover; 
        }
    }
    &__footer {
        display: none;
        width: 100%;
        height: 0px;
        background-color: #314659;
    }
}

@media (max-width: 1800px) {
    .main {
        &__text {
            width: 25%;
        }
    }
}

@media (max-width: 1500px) {
    .main {
        &__text {
            width: 20%;
            padding-left: 100px;
        }
    }
}

@media (max-width: 1400px) {
    .main {
        &__text {
            width: 15%;
            padding-top: 300px;
            &_head {
                font-size: 70px;
            }
            &_descr {
                font-size: 20px;
            }

        }
        &__gif {
            video {
                left: 65%;
            }
        }
    }
}


@media (max-width: 1300px) {
    .main {
        flex-direction: column;
        height: 100vh;
        &__text {
            padding: 90px 50px 50px 50px;
            text-align: left;
            width: 100%;
            height: auto;
            &_head {
                display: none;
                &_1300 {
                    display: block;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 900;
                    line-height: 1;
                    color: #81d632;
                }
            }
            &_descr {
                display: none;
                &_1300 {
                    display: block;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1;
                    color: #a9b6c7;
                    padding-top: 10px;
                }
            }
        }
        &__gif {
            video {
                left: 50%;
                top: 60%;
            }
        }
        &__footer {
            display: block;
        }
    }
    
}

@media (max-width: 700px) {
    .main {
        &__gif {
            video {
                min-height: 75%;
            }
        }
        &__footer {
            height: 180px;
        }
    }
}

@media (max-width: 500px) {
    .main {
        &__gif {
            video {
                min-height: 60%;
            }
        }
        &__footer {
            height: 300px;
        }
    }
}

@media (max-width: 400px) {
    .main {
        &__text {
            padding: 80px 30px 35px 30px;
        }
        &__gif {
            video {
                min-height: 58%;
            }
        }
    }
}

@media (max-width: 375px) {
    .main {
        &__gif {
            video {
                top: 66%;
            }
        }
        &__footer {
            height: 100px;
        }
    }
}
